/.github/
/.idea/
/.vscode/
**/.ipynb_checkpoints
/.mypy_cache/
/.pytest_cache/
/.git*/

/build/
/dist/
/docs/
/fusets_venv/
/tests/

/venv_foss4g/

/venv_py10/
/src/fusets.egg-info/

/notebooks/
!/notebooks/FOSS4G
/workshops/FOSS4G/demo/infrastructure/
